<div >
   
    <div>
        <div id="listofname">
                
        </div>
    </div>
    <pre>{{$storage.get('testKey')}}</pre>
    <!--  <div >
        <table>
            <tr ng-repeat="listofname in localstring">
                   
                <td> {{ listofname.name }} </td>
                <td> <button> Edit </button> </td>
                <td> <button ng-click="$storage.remove('')"> Delete</button> </td>
            </tr>
        </table>
    </div>
    -->
    <div id="dashboardList" class="groove">
        <a href="#" ng-click="allStorage()" style="margin:20px"><strong>Dashboard List</strong> </a>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Dashboard Name</th>
                    <th>Action</th>
                </tr>
             </thead>
                <tr ng-repeat="name in check">
                    <td data-target="#dashboardModal" data-toggle="modal" ng-click="displayChart(name.name)" >  <a href="#" >{{ name.name }} </a> </td>
                    <td> <button id="editbutton" class="btn btn-secondary"> Edit </button>  <button id="deletebutton" class="btn btn-danger" ng-click="$storage.remove(name.name); allStorage()"> Delete</button></td>
                    
                </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="modal" data-keyboard="false" data-backdrop="static" id="dashboardModal" tabindex="-1">
            <div id="dekh" class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- creating tab with html -->
                        <div id='chart'>    </div>
                    </div>
                    <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


